

@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" name="MUSTERİAD" required />
    </div>

    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERİSOYAD" required />
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-primary">Müşteri Ekle</button>
    </div>

</form>

