USE [master]
GO
/****** Object:  Database [mvcstokk]    Script Date: 14.12.2025 13:11:49 ******/
CREATE DATABASE [mvcstokk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mvcstokk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\mvcstokk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mvcstokk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\mvcstokk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mvcstokk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mvcstokk]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FiyatKategorisi]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_FiyatKategorisi]
(
    @Fiyat DECIMAL(18,2)
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Kategori NVARCHAR(50)
    
    IF @Fiyat < 500
        SET @Kategori = ' Ekonomik'
    ELSE IF @Fiyat < 2000
        SET @Kategori = ' Uygun'
    ELSE IF @Fiyat < 10000
        SET @Kategori = ' Orta Segment'
    ELSE IF @Fiyat < 50000
        SET @Kategori = ' Lüks'
    ELSE
        SET @Kategori = ' Premium'
    
    RETURN @Kategori
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_StokDurumu]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_StokDurumu]
(
    @Stok INT
)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Durum NVARCHAR(50)
    
    IF @Stok = 0
        SET @Durum = ' Stokta Yok'
    ELSE IF @Stok < 5
        SET @Durum = ' Kritik Stok'
    ELSE IF @Stok < 10
        SET @Durum = ' Düşük Stok'
    ELSE IF @Stok < 50
        SET @Durum = ' Normal Stok'
    ELSE
        SET @Durum = ' Bol Stok'
    
    RETURN @Durum
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_ToplamDeger]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_ToplamDeger]
(
    @Fiyat DECIMAL(18,2),
    @Stok INT
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN @Fiyat * @Stok
END

GO
/****** Object:  Table [dbo].[urunler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [nvarchar](50) NOT NULL,
	[URUNKATEGORİ] [int] NULL,
	[FİYAT] [decimal](18, 0) NULL,
	[MARKA] [nvarchar](50) NULL,
	[STOK] [int] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategoriler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoriler](
	[KATEGORİID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORİAD] [nchar](10) NULL,
 CONSTRAINT [PK_kategoriler] PRIMARY KEY CLUSTERED 
(
	[KATEGORİID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KategoriyeGoreUrunler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_KategoriyeGoreUrunler]
(
    @KategoriID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        u.URUNID,
        u.URUNAD,
        u.FİYAT,
        u.MARKA,
        u.STOK,
        k.KATEGORİAD
    FROM urunler u
    LEFT JOIN kategoriler k ON u.URUNKATEGORİ = k.KATEGORİID
    WHERE u.URUNKATEGORİ = @KategoriID
)

GO
/****** Object:  UserDefinedFunction [dbo].[fn_FiyatAraligiUrunler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_FiyatAraligiUrunler]
(
    @MinFiyat DECIMAL(18,2),
    @MaxFiyat DECIMAL(18,2)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        URUNID,
        URUNAD,
        FİYAT,
        MARKA,
        STOK
    FROM urunler
    WHERE FİYAT BETWEEN @MinFiyat AND @MaxFiyat
)

GO
/****** Object:  UserDefinedFunction [dbo].[fn_DusukStokluUrunler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DusukStokluUrunler]
(
    @MinStok INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        u.URUNID,
        u.URUNAD,
        k.KATEGORİAD,
        u.STOK,
        CASE 
            WHEN u.STOK = 0 THEN 'ACİL'
            WHEN u.STOK < 5 THEN 'KRİTİK'
            ELSE 'DÜŞÜK'
        END AS DURUM
    FROM urunler u
    LEFT JOIN kategoriler k ON u.URUNKATEGORİ = k.KATEGORİID
    WHERE u.STOK <= @MinStok
)

GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[MUSTERİID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERİAD] [nvarchar](50) NOT NULL,
	[MUSTERİSOYAD] [nvarchar](50) NULL,
 CONSTRAINT [PK_musteriler] PRIMARY KEY CLUSTERED 
(
	[MUSTERİID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERİ] [int] NULL,
	[ADET] [int] NULL,
	[FİYAT] [decimal](18, 0) NULL,
 CONSTRAINT [PK_satis] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[satis]  WITH CHECK ADD  CONSTRAINT [FK_satis_musteriler] FOREIGN KEY([MUSTERİ])
REFERENCES [dbo].[musteriler] ([MUSTERİID])
GO
ALTER TABLE [dbo].[satis] CHECK CONSTRAINT [FK_satis_musteriler]
GO
ALTER TABLE [dbo].[satis]  WITH CHECK ADD  CONSTRAINT [FK_satis_urunler] FOREIGN KEY([URUN])
REFERENCES [dbo].[urunler] ([URUNID])
GO
ALTER TABLE [dbo].[satis] CHECK CONSTRAINT [FK_satis_urunler]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategoriler] FOREIGN KEY([URUNKATEGORİ])
REFERENCES [dbo].[kategoriler] ([KATEGORİID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategoriler]
GO
/****** Object:  StoredProcedure [dbo].[sp_kategoriEkle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_kategoriEkle]
    @KATEGORİAD NVARCHAR(100)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Aynı isimde kategori var mı kontrol et
        IF EXISTS (SELECT 1 FROM kategoriler WHERE KATEGORİAD = @KATEGORİAD)
        BEGIN
            RAISERROR('Bu isimde kategori zaten var!', 16, 1)
            RETURN
        END
        
        -- Kategori ekle
        INSERT INTO kategoriler (KATEGORİAD)
        VALUES (@KATEGORİAD)
        
        COMMIT TRANSACTION
        PRINT 'Kategori başarıyla eklendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_kategoriGuncelle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_kategoriGuncelle]
    @KATEGORİID INT,
    @KATEGORİAD NVARCHAR(100)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Kategori var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM kategoriler WHERE KATEGORİID = @KATEGORİID)
        BEGIN
            RAISERROR('Bu ID ile kategori bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Aynı isimde başka kategori var mı kontrol et
        IF EXISTS (SELECT 1 FROM kategoriler WHERE KATEGORİAD = @KATEGORİAD AND KATEGORİID != @KATEGORİID)
        BEGIN
            RAISERROR('Bu isimde başka bir kategori zaten var!', 16, 1)
            RETURN
        END
        
        -- Kategori güncelle
        UPDATE kategoriler 
        SET KATEGORİAD = @KATEGORİAD
        WHERE KATEGORİID = @KATEGORİID
        
        COMMIT TRANSACTION
        PRINT 'Kategori başarıyla güncellendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_kategoriListele]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_kategoriListele]
AS
BEGIN
    SELECT 
        k.KATEGORİID,
        k.KATEGORİAD,
        COUNT(u.URUNID) AS URUNSAYISI
    FROM kategoriler k
    LEFT JOIN urunler u ON k.KATEGORİID = u.URUNKATEGORİ
    GROUP BY k.KATEGORİID, k.KATEGORİAD
    ORDER BY k.KATEGORİID DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_kategoriSil]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_kategoriSil]
    @KATEGORİID INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Kategori var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM kategoriler WHERE KATEGORİID = @KATEGORİID)
        BEGIN
            RAISERROR('Bu ID ile kategori bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Bu kategoriye ait ürün var mı kontrol et
        IF EXISTS (SELECT 1 FROM urunler WHERE URUNKATEGORİ = @KATEGORİID)
        BEGIN
            DECLARE @UrunSayisi INT
            SELECT @UrunSayisi = COUNT(*) FROM urunler WHERE URUNKATEGORİ = @KATEGORİID
            
            DECLARE @HataMesaji NVARCHAR(200)
            SET @HataMesaji = 'Bu kategoriye ait ' + CAST(@UrunSayisi AS NVARCHAR(10)) + ' adet ürün var. Önce ürünleri silin!'
            RAISERROR(@HataMesaji, 16, 1)
            RETURN
        END
        
        -- Kategori sil
        DELETE FROM kategoriler WHERE KATEGORİID = @KATEGORİID
        
        COMMIT TRANSACTION
        PRINT 'Kategori başarıyla silindi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_musteriEkle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_musteriEkle]
    @MUSTERİAD NVARCHAR(100),
    @MUSTERİSOYAD NVARCHAR(100)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        INSERT INTO musteriler (MUSTERİAD, MUSTERİSOYAD)
        VALUES (@MUSTERİAD, @MUSTERİSOYAD)
        
        COMMIT TRANSACTION
        PRINT 'Müşteri başarıyla eklendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_musteriGetir]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_musteriGetir]
as
begin
select * from musteriler

end
GO
/****** Object:  StoredProcedure [dbo].[sp_musteriGuncelle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_musteriGuncelle]
    @MUSTERİID INT,
    @MUSTERİAD NVARCHAR(100),
    @MUSTERİSOYAD NVARCHAR(100)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Müşteri var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM musteriler WHERE MUSTERİID = @MUSTERİID)
        BEGIN
            RAISERROR('Bu ID ile müşteri bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Müşteriyi güncelle
        UPDATE musteriler 
        SET MUSTERİAD = @MUSTERİAD,
            MUSTERİSOYAD = @MUSTERİSOYAD
        WHERE MUSTERİID = @MUSTERİID
        
        COMMIT TRANSACTION
        PRINT 'Müşteri başarıyla güncellendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_musteriSil]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_musteriSil]
    @MUSTERİID INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Müşteri var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM musteriler WHERE MUSTERİID = @MUSTERİID)
        BEGIN
            RAISERROR('Bu ID ile müşteri bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Müşteriyi sil
        DELETE FROM musteriler WHERE MUSTERİID = @MUSTERİID
        
        COMMIT TRANSACTION
        PRINT 'Müşteri başarıyla silindi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunEkle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunEkle]
    @URUNAD NVARCHAR(100),
    @URUNKATEGORI INT,
    @FIYAT DECIMAL(18,2),
    @MARKA NVARCHAR(100),
    @STOK INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY              
        -- Fiyat kontrolü
        IF @FIYAT < 0
        BEGIN
            RAISERROR('Fiyat negatif olamaz!', 16, 1)
            RETURN
        END
        
        -- Stok kontrolü
        IF @STOK < 0
        BEGIN
            RAISERROR('Stok negatif olamaz!', 16, 1)
            RETURN
        END
        
        -- Ürün ekle
        INSERT INTO urunler (URUNAD, URUNKATEGORİ, FİYAT, MARKA, STOK)
        VALUES (@URUNAD, @URUNKATEGORI, @FIYAT, @MARKA, @STOK)
        
        COMMIT TRANSACTION
        PRINT 'Ürün başarıyla eklendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UrunGuncelle]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunGuncelle]
    @URUNID INT,
    @URUNAD NVARCHAR(100),
    @URUNKATEGORI INT,
    @FIYAT DECIMAL(18,2),
    @MARKA NVARCHAR(100),
    @STOK INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Ürün var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM urunler WHERE URUNID = @URUNID)
        BEGIN
            RAISERROR('Bu ID ile ürün bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Aynı isimde başka ürün var mı kontrol et
        IF EXISTS (SELECT 1 FROM urunler WHERE URUNAD = @URUNAD AND URUNID != @URUNID)
        BEGIN
            RAISERROR('Bu isimde başka bir ürün zaten var!', 16, 1)
            RETURN
        END
        
        -- Kategori geçerli mi kontrol et
        IF NOT EXISTS (SELECT 1 FROM kategoriler WHERE KATEGORİID = @URUNKATEGORI)
        BEGIN
            RAISERROR('Geçersiz kategori!', 16, 1)
            RETURN
        END
        
        -- Fiyat kontrolü
        IF @FIYAT < 0
        BEGIN
            RAISERROR('Fiyat negatif olamaz!', 16, 1)
            RETURN
        END
        
        -- Stok kontrolü
        IF @STOK < 0
        BEGIN
            RAISERROR('Stok negatif olamaz!', 16, 1)
            RETURN
        END
        
        -- Ürün güncelle
        UPDATE urunler 
        SET URUNAD = @URUNAD,
            URUNKATEGORİ = @URUNKATEGORI,
            FİYAT = @FIYAT,
            MARKA = @MARKA,
            STOK = @STOK
        WHERE URUNID = @URUNID
        
        COMMIT TRANSACTION
        PRINT 'Ürün başarıyla güncellendi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UrunListele]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunListele]
AS
BEGIN
    SELECT 
        u.URUNID,
        u.URUNAD,
        k.KATEGORİAD,
        u.FİYAT,
        u.MARKA,
        u.STOK,
        CASE 
            WHEN u.STOK = 0 THEN 'Stokta Yok'
            WHEN u.STOK < 10 THEN 'Düşük Stok'
            ELSE 'Stokta Var'
        END AS STOKDURUMU
    FROM urunler u
    LEFT JOIN kategoriler k ON u.URUNKATEGORİ = k.KATEGORİID
    ORDER BY u.URUNID DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UrunSil]    Script Date: 14.12.2025 13:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunSil]
    @URUNID INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Ürün var mı kontrol et
        IF NOT EXISTS (SELECT 1 FROM urunler WHERE URUNID = @URUNID)
        BEGIN
            RAISERROR('Bu ID ile ürün bulunamadı!', 16, 1)
            RETURN
        END
        
        -- Ürün sil (trigger otomatik log'a yazacak)
        DELETE FROM urunler WHERE URUNID = @URUNID
        
        COMMIT TRANSACTION
        PRINT 'Ürün başarıyla silindi.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        PRINT 'Hata: ' + ERROR_MESSAGE()
    END CATCH
END

GO
USE [master]
GO
